<table class="table table-borderless custom-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Tipo de usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Julieta</td>
      <td>Rojas</td>
      <td>Administrador</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Nicolás</td>
      <td>Galarza</td>
      <td>Usuario</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
