<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container justify-content-center">
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" [routerLink]="'/principal'">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" [routerLink]="'/registro'" >Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" [routerLink]="'/administrar-usuarios'">Administrar Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
