<div class="container d-flex justify-content-center mt-5">
  <div class="bg-danger-subtle p-4 rounded shadow border border-danger-subtle" style="width: 100%; max-width: 500px;">
    
    <h3 class="text-center text-danger mb-4 fw-semibold">🛒 Crear Producto</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label text-danger fw-semibold">Nombre:</label>
        <input formControlName="nombre" class="form-control border-danger-subtle" />
      </div>

      <div class="mb-3">
        <label class="form-label text-danger fw-semibold">Descripción:</label>
        <input formControlName="descripcion" class="form-control border-danger-subtle" />
      </div>

      <div class="mb-3">
        <label class="form-label text-danger fw-semibold">Precio ARS:</label>
        <input type="number" formControlName="precioArs" class="form-control border-danger-subtle" />
      </div>

      <div class="mb-3">
        <label class="form-label text-danger fw-semibold">Categoría:</label>
        <input formControlName="categoria" class="form-control border-danger-subtle" />
      </div>

      <div class="mb-3">
        <label class="form-label text-danger fw-semibold">Imagen:</label>
        <input type="file" class="form-control border-danger-subtle" (change)="onFileSelected($event)" accept="image/*" />
        <div *ngIf="form.get('imagen')?.value" class="text-center mt-2">
          <img [src]="form.get('imagen')?.value" class="img-thumbnail" width="120" />
        </div>
      </div>

      <div class="text-center mt-3">
        <button class="btn btn-outline-danger fw-bold px-4" type="submit">
          Crear
        </button>
      </div>

      <div *ngIf="errorMessage" class="text-danger text-center mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
