<div class="container-fluid bg-light-rose text-center py-5">
  <h1 class="display-4 text-rose">¡Bienvenidos!</h1>
  <p class="lead">Descubrí productos increíbles seleccionados para vos.</p>
  
</div>

<div class="container py-5">
  <h2 class="text-center text-rose mb-4">Productos destacados</h2>
  <div class="row g-4 justify-content-center">
    <div class="container py-5">
  <div class="row g-4 justify-content-center">

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/68/c8/1c/68c81c5b986cf8cb260d761d2915d90c.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 1">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/5d/da/76/5dda76d41ba13028210e928a01a4c04e.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 2">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/bf/16/a9/bf16a95037699ef09d79a7c013f5d836.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 3">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/e1/71/19/e17119801163ebbe303acd151bb3c10c.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 4">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/27/00/2a/27002a7bc5273a281f9fdd8fd217353d.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 5">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/e9/ee/33/e9ee33c1b9ce1fb8a0b1418caeb904a4.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 6 ">
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/e3/60/c8/e360c8ca550829d50eedf54c8c2ada2e.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 7 ">
      </div>
    </div>

     <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/91/29/a6/9129a6920f9505c265a71f4dbc5dcfec.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 8  ">
      </div>
    </div>

     <div class="col-6 col-md-4 col-lg-3">
      <div class="producto-img">
        <img src="https://i.pinimg.com/736x/72/35/49/7235494fbbf3d71f792051fb89724d2d.jpg" class="img-fluid rounded shadow-sm border border-rose" alt="Producto 9  ">
      </div>
    </div>




  </div>
</div>
   

  </div>
</div>
