.gradient-custom {
  background: linear-gradient(to right, #f8bbd0, #f48fb1);
}

.card-registration {
  background-color: #fff;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

.btn-primary:hover {
  background-color: #ad1457;
  border-color: #ad1457;
}
