.text-rose {
  color: #d63384;
}
/* Fondo rosa más oscuro y elegante */
.bg-rose-deep {
  background-color: #c94e84; /* Rosa oscuro intenso */
  color: white;
}

.alert-rose-deep {
  background-color: #b43e74;
  color: white;
  border: 1px solid #ffffff33;
}

.table-rose {
  background-color: #d63384;
}

.btn-rose {
  background-color: #f8d7e4;
  color: #d63384;
  border: 1px solid #d63384;
}

.btn-rose:hover {
  background-color: #d63384;
  color: white;
}
