<div class="container mt-4 p-4 rounded border shadow bg-light-pink">
  <h3 class="text-center text-pink mb-4">Editar Producto</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label text-pink">Nombre:</label>
        <input formControlName="nombre" class="form-control border-pink">
      </div>
      <div class="col-md-4">
        <label class="form-label text-pink">Categoría:</label>
        <input formControlName="categoria" class="form-control border-pink">
      </div>
      <div class="col-md-4">
        <label class="form-label text-pink">Precio ARS:</label>
        <input type="number" formControlName="precioArs" class="form-control border-pink">
      </div>
      <div class="col-md-6">
        <label class="form-label text-pink">Descripción:</label>
        <input formControlName="descripcion" class="form-control border-pink">
      </div>
      <div class="col-md-6">
        <label class="form-label text-pink">Imagen (URL):</label>
        <input formControlName="imagen" class="form-control border-pink">
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-pink px-4" type="submit">Actualizar</button>
    </div>
  </form>
</div>
