.bg-light-pink {
  background-color: #fff0f5;
}

.text-pink {
  color: #cc0066;
}

.border-pink {
  border: 1px solid #ff99cc;
}

.btn-pink {
  background-color: #ff66a3;
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #e05590;
}