<div class="container mt-4 p-4 rounded border shadow bg-light-pink">
  <h3 class="text-center text-pink mb-4">Editar Producto</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label text-pink">Nombre:</label>
        <input formControlName="nombre" class="form-control border-pink">
        <div class="text-danger mt-1" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label text-pink">Categoría:</label>
        <input formControlName="categoria" class="form-control border-pink">
      </div>

      <div class="col-md-4">
        <label class="form-label text-pink">Precio ARS:</label>
        <input type="number" formControlName="precioArs" class="form-control border-pink">
        <div class="text-danger mt-1" *ngIf="form.get('precioArs')?.touched">
          <div *ngIf="form.get('precioArs')?.hasError('required')">El precio es obligatorio.</div>
          <div *ngIf="form.get('precioArs')?.hasError('min')">El precio debe ser mayor o igual a 0.</div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label text-pink">Descripción:</label>
        <input formControlName="descripcion" class="form-control border-pink">
      </div>

      <div class="col-md-6">
        <label class="form-label text-pink">Imagen:</label>
        <input type="file" class="form-control border-pink" (change)="onFileSelected($event)" accept="image/*" />

        <div *ngIf="form.get('imagen')?.value" class="mt-2 text-center">
          <img [src]="form.get('imagen')?.value" alt="Vista previa" class="img-thumbnail" width="120" />
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-pink px-4" type="submit" [disabled]="form.invalid">
        Actualizar
      </button>
    </div>
  </form>
</div>
